// This is built on ember-power-select
.ember-power-select-trigger {
  @apply w-full;
  box-shadow: var(--token-elevation-low-box-shadow);
  line-height: 1;
  border: 0;
  padding: 0;

  &:hover,
  &.mock-hover {
    border-color: var(--token-form-control-base-border-color-hover);
  }

  &:focus,
  &.mock-focus {
    border-color: var(--token-color-focus-action-internal);
    outline: 3px solid var(--token-color-focus-action-external);
    outline-offset: 0px;
  }
}
